@{
    ViewBag.Title = "About";
}
<h2>About our Club Tennis</h2>

<p>Our club tennis tennis tournaments take place almost fully in the fall, so we currently have practices
    once a week in Knowles, from 11 - 1AM on Tuesdays.</p>
