@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>River Falls Tennis</h1>
    <p class="lead">Trying to gain experience with .NET MVC applications outside of class!</p>
    <p>Have implemented multi-level access, antiforgerytoken and httpPost security, email confirmation
    and password reset through SendGrid, two-factor authentication through Twilio and Social logins so far.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our School Website</h2>
        <p>
            Take a look at our college!
        </p>
        <p><a class="btn btn-default" href="https://www.uwrf.edu/index.cfm" target="_blank">Click Here&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>D2L</h2>
        <p>As a student, click here to login to D2L</p>
        <p><a class="btn btn-default" href="https://www.uwrf.edu/DOTS/Learn.cfm" target="_blank">Click Here&raquo;</a></p>
    </div>
</div>